mixin sContent()
	// start sContent
	+b.SECTION.sContent.section#sContent&attributes(attributes)
		.container
			+e.back-link(href='#')
				+icon('arrow-left')
				span ДАТЫ И ЦЕНЫ
			+b.section-title.text-center.text-xl-start
				h2.d-md-none БАЗОВЫЕ ЛАГЕРЯ компании
				p.d-md-none Central Asia Travel
				h2.d-none.d-md-block БАЗОВЫЕ ЛАГЕРЯ
				p.d-none.d-md-block компании Central Asia Travel
			+e.main-row.row
				+e.left-col.col-xl-auto
					+b.social
						+socItem('fb')
						+socItem('tw')
						+socItem('vb')
						+socItem('wa')
						+socItem('tg')
					//-tabs
					+b.tabs
						+e.caption
							+e.btn Базовый лагерь  (3600 м)
							+e.btn Лагерь 1 «Солнечный» (4400 м)
							+e.btn.active Меню базовых лагерей
						+e.wrap
							+e.content
								+firstTabContent()
							+e.content
								+firstTabContent()
							+e.content.active
								+lastTabContent()
					+videoBaner()
					+formStrip()
				+e.right-col.col-xl-auto.d-none.d-xl-block
					+rightColCont()
	// end sContent

mixin socItem(icon)
	+e.item(href='#')
		+icon(icon)

mixin socItemAlt(imgName)
	+e.item(href='#')
		img(loading="lazy" src=`img/@2x/${imgName}.png` alt="")

mixin rightColCont()
	+b.inerestingBl
		+e.H4.title.text-center.d-xl-none Это интересно
		+e.row.row
			+rightColItem(1)
				| Наши восходители
			+rightColItem(2)
				| отзывы о нас
			+rightColItem(3)
				| Экологическая акция
				br
				| «Чистый снег»
		+b.soc-row.row.justify-content-center.d-none.d-xl-flex
			.col-auto
				+socItemAlt('fb2')
			.col-auto
				+socItemAlt('inst2')
			.col-auto
				+socItemAlt('tw2')
			.col-auto
				+socItemAlt('yt2')

mixin rightColItem(imgNum, bootClass="")
	.col-12(class=bootClass)
		+e.img(href="#")
			img(loading="lazy" src=`img/@2x/r-col-${imgNum}.jpg`)
		+e.txt(href='#')
			block

mixin ddItem(HeadTxt, activeClass)
	+e.dd-item(class=activeClass)
		+e.dd-head.dd-head-js
			+e.dd-h-txt=HeadTxt
			+e.dd-h-plus
				+icon('plus')
		+e.dd-content.dd-content-js(class=activeClass)&attributes(attributes)
			block

mixin lightSt(imgName,lsTxt)
	+e.light-streep
		+e.ls-img
			img(loading="lazy" src=`img/@2x/ls-${imgName}.png` alt="")
		+e.ls-txt=lsTxt

mixin lsImg(imgName)
	+e.ls-pic-cont&attributes(attributes)
		+e.ls-pic
			img(loading="lazy" src=`img/@2x/${imgName}.jpg` alt="")

mixin firstTabContent()
	+b.tabContent
		+e.H4.title БАЗОВЫЙ ЛАГЕРЬ «ПОЛЯНА ЭДЕЛЬВЕЙСОВ» (3600 м)
		+e.img-bl
			img(loading="lazy" src="img/@2x/food-img.jpg" alt="")
		+e.txt-box--first
			p
				strong Базовый лагерь пика Ленина
				|
				| находится в альпийской зоне, на живописной
				|
				strong Поляне эдельвейсов
				|
				| (3600 м) - идеальном месте для отдыха и полноценного восстановления после акклиматизационных выходов, что значительно повышает шансы успешного восхождения на вершину.
			p Из Базового лагеря начинается пеший маршрут восхождения на пик Ленина и другие вершины в этом районе.
			p
				strong Базовый Лагерь
				|
				| «Поляна Эдельвейсов» – один из самых уютных и комфортабельных лагерей в
				|
				strong урочище Ачик-Таш
				|, находится
				strong ближе всех от начала тропы на перевал Путешественников.
			p
				| В нашем Базовом лагере всех и каждого принимают очень душевно. Всем желающим, да и просто заглянувшим в лагерь, мы всегда предложим
				|
				strong горячий чай
				|
				| со сладостями. Мы не делаем ставку на «конвейерное обслуживание», которое так или иначе получается при огромном количестве гостей. У нас в лагере просторно и не очень многолюдно. Это позволяет нам уделять каждому персональное внимание и повышать качество обслуживания, что делает наш сервис эксклюзивным.
		+e.dd-items.dd-menu-js
			+ddItem('Базовый лагерь пика Ленина: инфраструктура', 'active')
				+e.check-content
					//-
					p Базовый лагерь (3600 м) располагает богатой и продуманной до мелочей инфраструктурой и предлагает своим гостям следующие услуги:
					+e.check-title.mb-0
						strong Национальные юрты
						|
						| - кают-компании для отдыха, питания и развлечений, где:
					ul
						// -
						li тепло и уютно: юрты оснащены печками, протапливаемыми ежедневно;
						li удобно: есть необходимая мебель - столы, стулья;
						li весело: электричество, аудио- и видеоаппаратура;
						li бесподобно вкусно кормят: блюда азиатской и европейской кухонь от профессиональных поваров, также имеется бар;
						li есть настольные игры: шахматы, карты, нарды, дартс;
						li самый мощный сигнал Wi-Fi.
					+lsImg('food-1')
					//-
					+e.check-title.mb-0 Удобные отапливаемые туристические тенты, оснащенные:
					ul
						li электричеством;
						li обогревателями;
						li индивидуальным освещением - настольными лампами;
						li раскладными кроватями;
						li одеялами, подушками и сменным постельным бельём - пододеяльниками, наволочками, простынями;
						li стульями в «тамбуре».
					+lsImg('food-1')
					//-
					+e.check-title
						| Альтернативное
						strong размещение повышенной комфортности
						|
						| - за дополнительную плату доступно
						strong проживание по два человека в просторных киргизских юртах
						|, оформленных в национальном стиле и расположенных на территории Базового лагеря. Юрты непременно порадуют требовательных гостей удобством проживания и изысканностью декора. Каждая юрта рассчитана на проживание 2-х человек и оснащена всем необходимым для комфортного пребывания.
					strong В юрте есть:
					ul
						li персональный санузел (душевая кабинка, туалет, горячая/холодная вода);
						li отопление и электричество;
						li 2 кровати (возможна установка дополнительной кровати), 2 шкафа, стол, 2 кресла;
						li минибар;
						li 2 двери;
						li и ... 2 сундука (!). В настоящей киргизской юрте наличие сундуков обязательно.
					p
						strong
							| Услуги:
							|
						span уборка в юрте и смена постельного белья.
					+lsImg('food-1')
					//-
					+e.check-title
						strong Вкусное и полезное 3-х разовое питание от профессиональных поваров.
						| Лагерь вам его гарантирует, причем в изобилии - 2 горячих блюда, 2 овощных салата, фруктовый десерт, чай или кофе (по желанию). Вегетарианское питание и питание на заказ также предусмотрено. Опыт работы наших поваров составляет не менее 10 лет.
					p
						| В Базовом лагере установлена национальная глиняная печь -
						|
						strong тандыр,
						| где выпекается свежий хлеб, лепешки и самса.
					+e.check-title
						strong Wi-Fi
						| на всей территории лагеря.
					+e.check-title
						strong Душевые кабинки и баня.
						| Душевые кабинки с горячей водой доступны в течение всего дня. Отличную баню с настоящей парилкой топят ежедневно во второй половине дня.
					+e.check-title
						strong Туалеты
						|
						| со сливными бачками, а также удобные
						|
						strong системы для умывания
						|
						| с кранами, мылом и зеркалами.
					+e.check-title
						strong Камера хранения.
					+e.check-title
						strong Мини-маркет,
						|
						| где можно приобрести товары первой необходимости, специализированные продукты для восхождения, альпинистское снаряжение, сувениры и многое другое.
					+e.check-title
						strong Медицинская помощь.
						|
						| В лагере есть медицинский кабинет со всеми необходимыми медикаментами для оказания первой помощи, где всегда дежурит
						|
						strong врач.
						| Врач-реаниматор имеет опыт высотной работы, поэтому при необходимости в любое время сможет оказать квалифицированную медицинскую помощь. В его обязанности входит также проведение обследования, консультаций и выдача необходимых рекомендаций относительно вашего
						br.d-none.d-xxl-block
						|
						| здоровья.
					+e.check-title
						strong Команда спасателей,
						|
						| состоящая из опытных высотных гидов, готовых в любой момент прийти на помощь.
					+e.check-title Волейбольная площадка для любителей активного досуга.
					+e.check-title Прогноз погоды для района пика Ленина, который обновляется ежедневно.
					+e.check-title По всей уютной и благоустроенной территории Базового лагеря установлены указатели и фонари.
			+ddItem('Дополнительные услуги в Базовом лагере')
				+e.check-content
					+e.check-title Волейбольная площадка для любителей активного досуга.
					+e.check-title Прогноз погоды для района пика Ленина, который обновляется ежедневно.
					+e.check-title По всей уютной и благоустроенной территории Базового лагеря установлены указатели и фонари.
					+e.check-title Волейбольная площадка для любителей активного досуга.
					+e.check-title Прогноз погоды для района пика Ленина, который обновляется ежедневно.
					+e.check-title По всей уютной и благоустроенной территории Базового лагеря установлены указатели и фонари.
		+menuGalerySlider()

mixin lastTabContent()
	+b.tabContent
		+e.H4.title
			| ПИТАНИЕ В БАЗОВОМ ЛАГЕРЕ И ЛАГЕРЕ 1 ПОД ПИКОМ ЛЕНИНА
			|
			br.d-none.d-md-block
			| КОМПАНИИ CENTRAL ASIA TRAVEL
		+e.img-bl
			img(loading="lazy" src="img/@2x/food-img.jpg" alt="")
		+e.txt-box
			p
				| У нас в Базовом лагере (3600 м) и Лагере 1 (4400 м) под пиком Ленина работают
				|
				strong профессиональные повара
				|. Они готовят изумительно вкусные, разнообразные и полезные блюда исключительно из свежих и натуральных продуктов, которые мы регулярно привозим из Оша. Наши
				|
				strong порции всегда очень щедрые,
				|
				| обильные, а если вдруг кто-то не наелся или просто желает дополнительную порцию понравившегося блюда, он может попросить добавку неограниченное число раз.
			p
				strong Дневное меню
				|
				| тщательно продумано и обязательно включает в себя
				|
				strong большое количество свежих фруктов и овощей,
				|
				| первые и вторые блюда национальной и европейской кухонь (предусмотрены также вегетарианские блюда и индивидуальное питание), десерты и сладости. Даже в Лагере 1 (4400 м), куда мы поднимаем продукты на лошадях, у нас всегда есть в ассортименте свежие фрукты и овощи, потому что мы знаем, насколько важную роль играет
				|
				strong правильное питание
				|
				| при восхождении.
			p
				| Кроме того, наши повара очень творчески подходят к своей работе и часто удивляют гостей восхитительными
				|
				strong пирогами
				|
				| и
				strong тортами
				|
				| даже в условиях сурового высокогорья.
			p
				| У нас в рационе также всегда есть
				|
				strong свежий хлеб.
				|
				| Мы ежедневно выпекаем его сами в тандырной печи, расположенной на территории Базового лагеря.
		+e.dd-items.dd-menu-js
			+ddItem('Краткое описание дневного меню Базового лагеря (3600) и Лагеря 1 (4400)', 'active')
				//-1
				+lightSt(1,'Завтрак')
				+e.ls-content
					ul
						//-•
						li Колбасно-сырное ассорти;
						li Первое блюдо: разнообразные молочные каши;
						li Второе блюдо: гренки / оладьи / омлеты / сосиски / и т.п.;
						li Десерт: конфеты, печенье, вафли, сухофрукты.
					+e.sub-title Стандартный набор:
					ul
						li Кетчуп, майонез, горчица, аджика, хрен, хлеб (ассорти);
						li Чай (черный, зеленый), кофе, какао, сухие сливки, шоколадный крем, варенье/джем, сахар.
					+lsImg('food-1')
				//-2
				+lightSt(2,'Обед')
				+e.ls-content
					ul
						li Салат (1 вид): разнообразный выбор овощных и мясных салатов;
						li Первое блюдо: разнообразные супы (овощные, мясные);
						li Второе блюдо: разнообразный выбор блюд восточной и европейской кухни;
						li Десерт: фрукты, конфеты, печенье, вафли, сухофрукты.
					+e.sub-title Стандартный набор:
					ul
						li Кетчуп, майонез, горчица, аджика, хрен, хлеб (ассорти);
						li Чай (черный, зеленый), кофе, какао, сухие сливки, шоколадный крем, варенье/джем, сахар.
					+lsImg('food-2')
				//-3
				+lightSt(3,'Ужин')
				+e.ls-content--pb0
					ul
						li Салат (2 вида): разнообразный выбор овощных и мясных салатов;
						li Второе блюдо: разнообразный выбор блюд восточной и европейской кухни;
						li Десерт: фрукты, конфеты, орешки (в ассортименте).
					+lsImg('food-3')(class="d-none d-md-block")
				+e.download-strip(href="#")
					+e.d-icon
						img(loading="lazy" src="img/@2x/download-icon.png" alt="")
					span Скачать файл с детальным описанием меню
		+menuGalerySlider()