mixin header()
	// start header
	+b.HEADER.header#header&attributes(attributes)
		+e.cont
			+e.btns.headder-btns-js
				+e.menu-btn.menu-btn-js(title="Главное меню")
					span
					+e.menu-txt МЕНЮ
				+e.this-menu-btn.this-btn-js.d-none.d-xl-flex(title="Навигация по разделу")
					span
			//-logo
			+b.h-logo(href='#')
				+e.l-img
					img(loading="lazy" src='img/@2x/header-logo.png' alt="")
				+e.l-txt.text-center.text-sm-start
					+e.l-big Central Asia Travel
					+e.l-descr
						span.d-inline.d-md-none.d-xxl-inline
							| Туры по странам
							br.d-xxl-none
							| Шелкового пути
						span.d-none.d-md-inline.d-xxl-none
							| групповые и индивидуальные туры
							br
							| по странам Шелкового пути
					+e.l-live.d-none.d-xxl-block
						img(loading="lazy" src="img/@2x/live-txt.png" alt="")
			//-end logo
			+e.search
				img(loading="lazy" src="img/@2x/search-sm.png" alt="")
	// end header

mixin ppThisMenu()
	+b.ppMenu.ppMenu-this.ppMenu-this-js
		+ppMenuHead()(class="d-none d-xl-block")
		+b.this-mm
			.container
				+e.title.text-center.d-none.d-xl-block НАВИГАЦИЯ по разделу
				+e.row.row.justify-content-between
					+thisMMDtItem(1, 'даты и цены')
					+thisMMDtItem(2, 'базовые лагеря')
					+thisMMDtItem(3, 'полезная информация')
					+thisMMDtItem(4, 'безопасность')
					+thisMMDtItem(5, 'рекомендации')
					+thisMMDtItem(6, 'написать нам')(class="d-xl-none")

mixin ppGlobMenu()
	+b.ppMenu.ppMenu-glob.ppMenu-glob-js
		+ppMenuHead()
			+e.back-btn.back-mob-js
				+icon('arrow-left')
		+b.main-menu
			+e.container.container
				+e.main-nav-cont.main-nav-cont-js
					+e.main-nav.row
						+mainNavItem(1, 'Куда поехать', 'active main-btn-js')(data-menu-id="where")
						+mainNavItem(2, 'Тип путешествия', 'main-btn-js')(data-menu-id="type")
						+mainNavItem(3, 'Подбор тура')(href='#')
						+mainNavItem(4, 'О нас')(href='#')
						+mainNavItem(5, 'контакты')(href='#')
						+mainNavItem(6, 'Поиск по сайту','d-none d-xl-flex main-btn-js')(data-menu-id="search")
						+mainNavItem(7, 'Русский','d-xl-none main-btn-js')(data-menu-id="language")
					+e.mob-search.d-xl-none
						+form-wrap
							+input('', 'text')
							+e.BUTTON.btn(type="submit")
							//-
				+e.mn-dd
					+e.dd-item.main-dd-js(data-menu-id="where")
						//-where
						+e.c-row.row
							+ddCountryItem(1, 'узбекистан')
							+cddItemMob(1)
							+ddCountryItem(2, 'Кыргызстан')
							+cddItemMob(2)
							+ddCountryItem(3, 'Казахстан')
							+cddItemMob(3)
							+ddCountryItem(4, 'Таджикистан')
							+cddItemMob(4)
							+ddCountryItem(5, 'Туркменистан')
							+cddItemMob(5)
							+ddCountryItem(6, 'Китай')
							+cddItemMob(6)
							+ddCountryItem(7, 'Азербайджан')
							+cddItemMob(7)
						+e.c-dd-items.d-none.d-xl-block
							+cddItem(1)
							+cddItem(2)
							+cddItem(3)
							+cddItem(4)
							+cddItem(5)
							+cddItem(6)
							+cddItem(7)
					+e.dd-item.main-dd-js(data-menu-id="type")
						+e.t-row.row
							+ddTypeItem(1, 'Экскурсионные туры')(href='#')
							+ddTypeItem(2, 'тематические туры')(href='#')
							+ddTypeItem(3, 'праздничные туры')(href='#')
							+ddTypeItem(4, 'M.I.C.E.')(href='#')
							+ddTypeItem(5, 'Приключенческие туры')(class="t-type-js" data-type="advanture")
							+tddItemMob()(data-type="advanture")
							+ddTypeItem(6, 'Альпинизм')(class="t-type-js" data-type="climbing")
							+tddItemMob(1)(data-type="climbing")
						+e.c-dd-items.d-xl-block.d-none
							+tddItem()(data-type="advanture")
							+tddItem(1)(data-type="climbing")
					//-remove active later
					+e.dd-item--search.active.main-dd-js(data-menu-id="search")
						+e.searh-cont
							+form-wrap
								+input('', 'text')
								+e.BUTTON.btn(type="submit") >
							+e.pop-title.text-center Популярные запросы
							+e.popular-tags.row
								+popularTag('пик Ленина')
								+popularTag('УЗБЕКИСТАН')
								+popularTag('САМАРКАНД')
								+popularTag('Виза в Узбекистан')
								+popularTag('Памирский тракт')
								+popularTag('Джип-туры')
								+popularTag('Экспедиции')
								+popularTag('СЕМЕЙНЫЙ ОТДЫХ')
					+e.dd-item.main-dd-js.d-xl-none(data-menu-id="language")
						+e.mob-langitems

				+e.footer
					+e.f-row.row
						.col
							+e.f-home(href='#')
								+e.fh-img
									img(loading="lazy" src="img/@2x/home-icon.png" alt="")
								span На главную
						.col-auto
							+e.soc-row.row.d-xl-none
								+ppMenuSocItem('fb-sq')
								+ppMenuSocItem('inst-sq')
								+ppMenuSocItem('tw-sq')
								+ppMenuSocItem('yt-sq')
							+e.lang-row.row.d-none.d-xl-flex
								+flLink('Русский')(class="active")
								+flLink('English')
								+flLink('Español')
								+flLink('Français')
								+flLink('Deutsch')
	//-m-type-pr-1.png

mixin popularTag(txt)
	+e.p-tag.col-auto
		a(href='#')=txt

mixin ddTypeItem(imgNum, name)
	+e.t-type.col-12.col-xl-auto&attributes(attributes)
		+e.c-img--type
			img(loading="lazy" src=`img/@2x/m-type-pr-${imgNum}.png` alt="")
			img(loading="lazy" src=`img/@2x/m-type-${imgNum}.png` alt="")
		+e.t-name=name

mixin tddItem(num='')
	+e.c-dd-item.t-dd-item-js&attributes(attributes)
		+e.c-dd-row.row
			.col-auto
				a(href='#')=`Пик Ленина${num}`
				a(href='#') Вершины Памира
				a(href='#') Пик Музтаг-Ата
			.col-auto
				a(href='#') Пик Музтаг-Ата + пик Ленина
				a(href='#') Пик Хан-Тенгри
				a(href='#') Пик Хан-Тенгри + пик Ленина
			.col-auto
				a(href='#') Пик Ленина + пик Хан-Тенгри + пик Победы
				a(href='#') Пик Победы
				a(href='#') Пик Коммунизма
			.col-auto
				a(href='#') Майская альпиниада в Чимгане

mixin tddItemMob(num='')
	+e.type-mob.t-dd-item-js.d-xl-none&attributes(attributes)
		a(href='#')=`Пик Ленина${num}`
		a(href='#') Вершины Памира
		a(href='#') Пик Музтаг-Ата
		a(href='#') Пик Музтаг-Ата + пик Ленина
		a(href='#') Пик Хан-Тенгри
		a(href='#') Пик Хан-Тенгри + пик Ленина
		a(href='#') Пик Ленина + пик Хан-Тенгри + пик Победы
		a(href='#') Пик Победы
		a(href='#') Пик Коммунизма
		a(href='#') Майская альпиниада в Чимгане

mixin cddItem(num='')
	+e.c-dd-item.c-dd-item-js&attributes(attributes)(data-country=`country${num}`)
		+e.c-dd-row.row
			.col-auto
				//->
				a(href='#')
					if num === 1
						strong=`Туры в Узбекистан`
					else
						strong=`Туры в Узбекистан${num}`
				a(href='#')
					strong Достопримечательности
				a(href='#') Информация об Узбекистане
				a(href='#') Виза в Узбекистан
			.col-auto
				a(href="#")
					strong Гостиницы Узбекистана
				a(href="#") Конференц-залы
				a(href="#") Рестораны
			.col-auto
				a(href="#")
					strong Транспортные услуги
				a(href="#") Бронирование авиабилетов
			.col-auto
				a(href="#") Узбекская кухня
				a(href="#") Фото Узбекистана

mixin cddItemMob(num='')
	+e.type-mob.c-dd-item-js.d-xl-none&attributes(attributes)(data-country=`country${num}`)
		a(href='#') Туры в Узбекистан
		a(href='#') Достопримечательности
		a(href='#') Информация об Узбекистане
		a(href='#') Виза в Узбекистан
		a(href="#") Гостиницы Узбекистана
		a(href="#") Конференц-залы
		a(href="#") Рестораны
		a(href="#") Транспортные услуги
		a(href="#") Бронирование авиабилетов
		a(href="#") Узбекская кухня
		a(href="#") Фото Узбекистана

mixin flLink(txt)
	.col-auto
		+e.fl-link(href='#')&attributes(attributes)=txt

mixin ddCountryItem(imgNum, name)
	+e.c-counrty.c-country-js.col-12.col-xl-auto(data-country=`country${imgNum}`)
		+e.c-img
			img(loading="lazy" src=`img/@2x/m-where-pr-${imgNum}.png` alt="")
			img(loading="lazy" src=`img/@2x/m-where-${imgNum}.png` alt="")
		+e.c-name=name

mixin mainNavItem(imgNum, txt, addClasses)
	+e.mn-item.mn-item-js.col-12.col-xl-auto(class=addClasses)&attributes(attributes)
		+e.mn-img
			img(loading="lazy" src=`img/@2x/main-m${imgNum}.png`)
		+e.txt=txt

mixin thisMMDtItem(imgNum, txt)
	.col-auto&attributes(attributes)
		+e.item(href="#")
			+e.icon
				img(loading="lazy" src=`img/@2x/this-m-${imgNum}.png` alt="")
			.txt.d-none.d-xl-block=txt

mixin ppMenuHead()
	+e.header&attributes(attributes)
		.container
			+e.main-row.row.align-items-center
				+e.btns-col.col-auto.col-xl
					+e.close-btn.close-btn-js
						+icon('cross')
						span.d-none.d-xl-inline Закрыть
					block
				.col-auto
					//-logo
					+b.h-logo--row(href='#')
						+e.l-img
							img(loading="lazy" src='img/@2x/header-logo.png' alt="")
						+e.l-txt
							+e.l-big Central Asia Travel
							+e.l-descr
								span.d-inline.d-md-none.d-xxl-inline
									| Туры по странам
									br.d-xxl-none
									| Шелкового пути
								span.d-none.d-md-inline.d-xxl-none
									| групповые и индивидуальные туры
									br
									| по странам Шелкового пути
							+e.l-live.d-none.d-xxl-block
								img(ading="lazy" src="img/@2x/live-txt.png" alt="")
					//end logo
				.col.d-none.d-xl-block
					+e.soc-row.row.justify-content-end
						+ppMenuSocItem('fb-sq')
						+ppMenuSocItem('inst-sq')
						+ppMenuSocItem('tw-sq')
						+ppMenuSocItem('yt-sq')

mixin ppMenuSocItem(iconName)
	.col-auto
		+e.soc-item(href="#")
			+icon(iconName)